openapi: 3.0.3
info:
  title: Duongöndro API
  version: "1"
  description: |
    The server stores sealed blobs, public keys and signed statements. It never
    receives a practice count, a round or a key, and it checks only sizes, glowie
    curve (NIST P-256) points and Ed25519 signatures over the exact bytes it receives
    (docs/crypto.md). Binary fields are standard base64 (`format: byte`).

    Contract first: edit this file, then `make gen`. The Android client is generated
    from it too.

    Every sign-in ends in a bearer token. An account is created only with a valid
    invitation or an unused admission code (`duongondro-api admit`, for the first
    members, whom nobody can invite); signing in never grants keys. The DEV build's POST /api/dev/session is
    registered outside this file, so a release build has no trace of it.
servers:
  - url: https://api.duongondro.app
paths:
  /healthz:
    get:
      operationId: getHealth
      responses:
        "200":
          description: The server is up.
          content:
            text/plain:
              schema: {type: string}
  /api/version:
    get:
      operationId: getVersion
      description: The commit the binary was built from, shown in the apps' Settings.
      responses:
        "200":
          description: Build identity.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Version"}

  /api/me:
    get:
      operationId: getMe
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: The signed-in account.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Me"}
        "401": {$ref: "#/components/responses/Unauthorized"}
    patch:
      operationId: updateMe
      description: |
        Changes the profile: the display name friends see, the username that names
        the account's passkeys (never shown to friends) and the gender friends'
        phones use for grammatical forms. An absent field stays as it is; null clears
        username or gender. 409: the username is taken (case-insensitively).
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/MeUpdate"}
      responses:
        "204": {description: Updated.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}
    delete:
      operationId: deleteMe
      description: |
        Deletes everything the server holds about this account in one transaction
        (GDPR Article 17); only an anonymous node of the invite tree remains. The
        phone then wipes its own data. Friends drop the person on their next sync,
        since the friend list no longer has them.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "204": {description: Deleted.}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/me/export:
    get:
      operationId: exportMe
      description: |
        Everything the server stores about this account, one key per table, sealed
        blobs as base64 (GDPR Articles 15 and 20). The phone decrypts the sealed logs
        itself and builds the export ZIP; this is its server-raw.json.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: The server's rows.
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/me/session:
    delete:
      operationId: signOut
      description: Ends this session; its token stops working.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "204": {description: Signed out.}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/me/sessions:
    delete:
      operationId: signOutOthers
      description: Signs out every other session of this account ("sign out everywhere else").
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "204": {description: Signed out.}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/me/identity:
    put:
      operationId: putIdentity
      description: |
        Sets the account's Ed25519 identity public key, once. Setting the same key
        again is a no-op; a different key is refused, since friends have pinned it.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/IdentityKey"}
      responses:
        "204": {description: Stored.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}
  /api/me/device-list:
    get:
      operationId: getDeviceList
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: The newest signed device list.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SignedStatement"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
    put:
      operationId: putDeviceList
      description: |
        Publishes a new signed device list (type `device-list`). The payload must name
        this user, list only devices registered to it with their public keys and
        tiers, carry a version above the stored one, and be signed by the identity key.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/SignedStatement"}
      responses:
        "204": {description: Stored.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}
  /api/me/key-rotations:
    post:
      operationId: rotatePracticeKey
      description: |
        Moves the practice key to keyVersion + 1. The wraps must carry the new key to
        exactly the devices that hold the current one. Logs sealed under the old
        version are then refused with 422 until the devices reseal them.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/KeyRotation"}
      responses:
        "204": {description: Rotated.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}
  /api/me/recovery-boxes:
    get:
      operationId: listRecoveryBoxes
      description: The practice key and identity seed sealed under the recovery code.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: Stored boxes.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/RecoveryBoxList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/me/recovery-boxes/{kind}:
    put:
      operationId: putRecoveryBox
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/Kind"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/RecoveryBoxInput"}
      responses:
        "204": {description: Stored.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}

  /api/devices:
    get:
      operationId: listDevices
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: This account's devices.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/DeviceList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
    post:
      operationId: registerDevice
      description: Registers a device key; registering the same key again returns the existing device.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/DeviceInput"}
      responses:
        "200":
          description: Already registered.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Device"}
        "201":
          description: Registered.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Device"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/devices/{deviceId}:
    delete:
      operationId: deleteDevice
      description: Removes one of this account's devices, its wraps, its push token and the sessions it registered.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/DeviceId"}
      responses:
        "204": {description: Removed.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/devices/{deviceId}/wraps:
    get:
      operationId: listWraps
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/DeviceId"}
      responses:
        "200":
          description: Secrets wrapped to this device.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/WrapList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
    post:
      operationId: putWrap
      description: |
        Stores a wrap to one of this account's devices, replacing one of the same kind
        and version. A signature authenticator is verified against the identity key
        over the wrap and the AAD the server rebuilds; HMAC tags are checked for size.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/DeviceId"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/WrapInput"}
      responses:
        "204": {description: Stored.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}

  /api/practice-logs/{logId}:
    put:
      operationId: putPracticeLog
      description: |
        Stores a sealed session, or its deletion, if it is newer (by the client's
        updatedAt) than the stored one; either way the answer is the stored row.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - name: logId
          in: path
          required: true
          schema: {$ref: "#/components/schemas/UUID"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/PracticeLogInput"}
      responses:
        "200":
          description: The stored log.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/PracticeLog"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "422":
          description: Sealed under an old practice key; reseal under currentKeyVersion.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OldKeyError"}
  /api/sync:
    get:
      operationId: sync
      description: |
        Logs changed since the cursor (all of them with no cursor, or when the cursor
        belongs to another database generation: then `full` is true and the client
        replaces its view). Deleted logs come back without `sealed`.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - name: since
          in: query
          required: false
          schema: {type: string, maxLength: 64}
      responses:
        "200":
          description: Changes and the next cursor.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SyncResponse"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}

  /api/invites:
    get:
      operationId: listInvites
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: Invites this account created.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/InviteList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
    post:
      operationId: createInvite
      description: |
        Stores a reusable invitation: the inviter's signed invite statement, the pin
        MAC the invitee checks, and auth, of which the server keeps only a hash.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/InviteInput"}
      responses:
        "201": {description: Created.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}
  /api/invites/{inviteId}:
    get:
      operationId: getInvite
      description: |
        A live invite, for the invitee's app to check (the signature, then the pin
        MAC) before redeeming. Needs no session: the invitee has none yet.
        Rate-limited per address.
      parameters: [{$ref: "#/components/parameters/InviteId"}]
      responses:
        "200":
          description: The invite record.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/InviteRecord"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
    delete:
      operationId: revokeInvite
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/InviteId"}
      responses:
        "204": {description: Revoked.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/invites/{inviteId}/redemptions:
    post:
      operationId: redeemInvite
      description: |
        Makes this account and the inviter friends. auth proves the link's secret; the
        acceptance, signed by this account's identity key, names the invite, the
        account and its key. A wrong auth answers 404 like an unknown invite.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/InviteId"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/Redemption"}
      responses:
        "200":
          description: Now friends.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/RedemptionResult"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/TooManyRequests"}

  /api/friends:
    get:
      operationId: listFriends
      description: The authoritative friend list; a phone drops anyone cached who is not in it.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: Friends.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/FriendList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/friends/streaks:
    get:
      operationId: friendsStreaks
      description: The newest signed statement of every public practice of every friend.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: Statements to verify against each friend's pinned key.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/StreakList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/friends/{userId}:
    delete:
      operationId: unfriend
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/UserId"}
      responses:
        "204": {description: No longer friends, both ways.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/blocks:
    get:
      operationId: listBlocks
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: People this account has blocked.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/BlockList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/blocks/{userId}:
    put:
      operationId: block
      description: Ends any friendship and keeps it from coming back, both ways.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/UserId"}
      responses:
        "204": {description: Blocked.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
    delete:
      operationId: unblock
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/UserId"}
      responses:
        "204": {description: Unblocked.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/reports:
    post:
      operationId: report
      description: Reports a friend, or someone this account blocked, for moderation.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ReportInput"}
      responses:
        "201":
          description: Filed.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/ReportResult"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/streaks:
    get:
      operationId: ownStreaks
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: This account's public streak statements.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/StreakList"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/streaks/{practice}:
    put:
      operationId: putStreak
      description: |
        Publishes a signed streak statement (type `streak`) for one practice: tracked
        days only, a seq above the stored one, and a deadline the server times
        streak-at-risk pushes by.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/Practice"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/SignedStatement"}
      responses:
        "204": {description: Stored.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}
    delete:
      operationId: deleteStreak
      description: Makes the practice's streak private again.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/Practice"}
      responses:
        "204": {description: Removed.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}

  /api/auth/passkeys/sign-up:
    post:
      operationId: beginPasskeySignUp
      description: |
        Starts creating an account with a passkey; the invitation or admission code is
        checked now and when it finishes. 404: no such live invitation, or the code is
        wrong, spent or expired. The optional profile (as PATCH /api/me takes it) is
        set on the account when it is made and names the passkey; 409: the username is
        taken, now or by the time the ceremony finishes.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/PasskeySignUp"}
      responses:
        "200":
          description: Options for the platform authenticator.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Ceremony"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
  /api/auth/passkeys/sign-in:
    post:
      operationId: beginPasskeySignIn
      description: Starts a discoverable sign-in; the phone offers its passkeys.
      responses:
        "200":
          description: Options for the platform authenticator.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Ceremony"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
  /api/auth/passkeys/{sessionId}:
    post:
      operationId: finishPasskey
      description: Completes a passkey sign-up or sign-in with the authenticator's response.
      parameters: [{$ref: "#/components/parameters/CeremonyId"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/PasskeyResponse"}
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SignInResult"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
  /api/auth/nonces:
    post:
      operationId: newNonce
      description: |
        A single-use nonce for an Apple or Google sign-in, valid ten minutes. The app
        passes it to the provider (Apple takes its SHA-256 in hex) and back here.
      responses:
        "200":
          description: The nonce.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Nonce"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
  /api/auth/providers/{provider}:
    post:
      operationId: providerSignIn
      description: |
        Signs in with a Sign in with Apple or Google ID token; with an invitation or
        admission code and no account for that provider account, creates one. 403
        means no account uses it and an invitation is needed.
      parameters: [{$ref: "#/components/parameters/Provider"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ProviderSignIn"}
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SignInResult"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
  /api/auth/magic-links:
    post:
      operationId: requestMagicLink
      description: |
        Mails a single-use sign-in link (15 minutes) and an 8-character code that
        does the same when typed into the app, shown as XXXX XXXX. A newer request
        for the address makes the older codes unusable; older links still work until
        used or expired. The answer is the
        same whether or not an account uses the address, which therefore is never
        revealed.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/MagicLinkRequest"}
      responses:
        "204": {description: Sent, or nothing to send.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
  /api/auth/magic-links/redeem:
    post:
      operationId: redeemMagicLink
      description: |
        Signs in with the link's token, or with the address and the code from the
        mail. A wrong code counts against the newest mail's code; the fifth kills that
        code, though not its link. A server restart invalidates codes mailed before
        it (their links keep working): ask for a new mail. A wrong, expired, used or replaced code is the same
        400, whether or not the address has a link.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/MagicLinkRedemption"}
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SignInResult"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/TooManyRequests"}
  /api/me/passkeys:
    post:
      operationId: beginPasskeyAdd
      description: Starts adding a passkey to this account.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      responses:
        "200":
          description: Options for the platform authenticator.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Ceremony"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/me/passkeys/{sessionId}:
    post:
      operationId: finishPasskeyAdd
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/CeremonyId"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/PasskeyResponse"}
      responses:
        "204": {description: Added.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /api/me/identities/{provider}:
    post:
      operationId: linkProvider
      description: Adds an Apple or Google account to this account. Linking is only ever explicit, like this.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/Provider"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ProviderLink"}
      responses:
        "204": {description: Linked.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}

  /api/devices/{deviceId}/push-token:
    put:
      operationId: putPushToken
      description: Stores this device's APNs or FCM token; the server drops it when the provider reports it unregistered.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/DeviceId"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/PushTokenInput"}
      responses:
        "204": {description: Stored.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
    delete:
      operationId: deletePushToken
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/DeviceId"}
      responses:
        "204": {description: Removed.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/friends/{userId}/settings:
    put:
      operationId: putFriendSettings
      description: Opts in or out of "done today" pushes from this friend.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/UserId"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/FriendSettings"}
      responses:
        "204": {description: Stored.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/friends/{userId}/pokes:
    post:
      operationId: poke
      description: A manual nudge, one per friend per UTC day; the phone writes it in the mascot's voice.
      parameters:
        - {$ref: "#/components/parameters/Authorization"}
        - {$ref: "#/components/parameters/UserId"}
      responses:
        "204": {description: Sent.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}

  /api/client-errors:
    post:
      operationId: reportClientError
      description: |
        A crash or error the app reports about itself, such as a device-key fallback
        to the software tier on a broken Keystore. Logged with the user id and nothing
        else about them; nothing is stored. 30 per user per hour.
      parameters: [{$ref: "#/components/parameters/Authorization"}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ClientErrorReport"}
      responses:
        "204": {description: Logged.}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "429": {$ref: "#/components/responses/TooManyRequests"}

components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      description: Bearer <session token>
      schema: {type: string}
    DeviceId:
      name: deviceId
      in: path
      required: true
      schema: {$ref: "#/components/schemas/UUID"}
    CeremonyId:
      name: sessionId
      in: path
      required: true
      schema: {$ref: "#/components/schemas/UUID"}
    Provider:
      name: provider
      in: path
      required: true
      schema: {type: string, enum: [apple, google]}
    InviteId:
      name: inviteId
      in: path
      required: true
      description: 8 Crockford base32 characters; either case.
      schema: {type: string, minLength: 8, maxLength: 8}
    UserId:
      name: userId
      in: path
      required: true
      schema: {$ref: "#/components/schemas/UUID"}
    Practice:
      name: practice
      in: path
      required: true
      schema: {type: string, maxLength: 64}
    Kind:
      name: kind
      in: path
      required: true
      description: 1 = practice key, 2 = identity seed.
      schema: {type: integer, minimum: 1, maximum: 2}

  responses:
    Unauthorized:
      description: Missing, unknown or revoked session token.
    BadRequest:
      description: The request is malformed or fails validation.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    NotFound:
      description: No such resource for this account.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    Forbidden:
      description: No account uses this sign-in; an invitation (or admission code) is needed to create one.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    TooManyRequests:
      description: Rate-limited; try again later.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    Conflict:
      description: Conflicts with the stored state.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}

  schemas:
    UUID:
      type: string
      format: uuid
      x-go-type: uuid.UUID
      x-go-type-import: {path: uuid}
    Error:
      type: object
      required: [error]
      properties:
        error: {type: string}
    Version:
      type: object
      required: [revision, short, modified, go]
      properties:
        revision: {type: string}
        short: {type: string, description: "7 characters, with -dirty for a modified tree"}
        modified: {type: boolean}
        time: {type: string}
        go: {type: string}
    Me:
      type: object
      required: [id, keyVersion, displayName, devices]
      properties:
        id: {$ref: "#/components/schemas/UUID"}
        identityPublicKey: {type: string, format: byte, description: Ed25519, 32 bytes}
        keyVersion: {type: integer, description: Current version of the practice key}
        displayName: {type: string}
        username: {type: string, description: "Absent until set; lowercase"}
        gender: {$ref: "#/components/schemas/Gender"}
        devices:
          type: array
          items: {$ref: "#/components/schemas/Device"}
    IdentityKey:
      type: object
      required: [publicKey]
      properties:
        publicKey: {type: string, format: byte, description: Ed25519, 32 bytes}
    SignedStatement:
      type: object
      required: [payload, signature]
      description: Exact payload bytes (compact JSON, sorted keys) and their Ed25519 signature.
      properties:
        payload: {type: string, format: byte}
        signature: {type: string, format: byte}
    Tier:
      type: string
      enum: [hardware, tee, software]
    DeviceInput:
      type: object
      required: [publicKey, tier]
      properties:
        publicKey: {type: string, format: byte, description: "65-byte uncompressed point on the glowie curve"}
        tier: {$ref: "#/components/schemas/Tier"}
    Device:
      type: object
      required: [id, publicKey, tier, createdAt]
      properties:
        id: {$ref: "#/components/schemas/UUID"}
        publicKey: {type: string, format: byte}
        tier: {$ref: "#/components/schemas/Tier"}
        createdAt: {type: string, format: date-time}
    DeviceList:
      type: object
      required: [devices]
      properties:
        devices:
          type: array
          items: {$ref: "#/components/schemas/Device"}
    AuthType:
      type: string
      enum: [signature, enrol, self]
      description: |
        signature: Ed25519 by the identity key; enrol: HMAC from the QR secret; self:
        HMAC from the device's own ECDH (docs/crypto.md, Wraps).
    WrapInput:
      type: object
      required: [kind, keyVersion, ephemeralKey, box, authType, authenticator]
      properties:
        kind: {type: integer, minimum: 1, maximum: 2}
        keyVersion: {type: integer, minimum: 1}
        ephemeralKey: {type: string, format: byte, description: 65 bytes}
        box: {type: string, format: byte, description: "nonce ‖ ciphertext ‖ tag, 60 bytes"}
        authType: {$ref: "#/components/schemas/AuthType"}
        authenticator: {type: string, format: byte, description: "64 bytes for a signature, 32 for a tag"}
    Wrap:
      allOf:
        - {$ref: "#/components/schemas/WrapInput"}
        - type: object
          required: [deviceId, createdAt]
          properties:
            deviceId: {$ref: "#/components/schemas/UUID"}
            createdAt: {type: string, format: date-time}
    WrapList:
      type: object
      required: [wraps]
      properties:
        wraps:
          type: array
          items: {$ref: "#/components/schemas/Wrap"}
    RotationWrap:
      allOf:
        - {$ref: "#/components/schemas/WrapInput"}
        - type: object
          required: [deviceId]
          properties:
            deviceId: {$ref: "#/components/schemas/UUID"}
    KeyRotation:
      type: object
      required: [newVersion, wraps]
      properties:
        newVersion: {type: integer, minimum: 2}
        wraps:
          type: array
          items: {$ref: "#/components/schemas/RotationWrap"}
    RecoveryBoxInput:
      type: object
      required: [box, signature]
      properties:
        box: {type: string, format: byte, description: 60 bytes}
        signature: {type: string, format: byte, description: "Ed25519 by the identity key over recovery-sig ‖ user ‖ kind ‖ box (docs/crypto.md)"}
    RecoveryBox:
      type: object
      required: [kind, box, updatedAt]
      properties:
        kind: {type: integer}
        box: {type: string, format: byte}
        updatedAt: {type: string, format: date-time}
    RecoveryBoxList:
      type: object
      required: [boxes]
      properties:
        boxes:
          type: array
          items: {$ref: "#/components/schemas/RecoveryBox"}
    PracticeLogInput:
      type: object
      required: [sealed, keyVersion, updatedAt]
      properties:
        sealed:
          type: string
          format: byte
          description: |
            nonce ‖ ciphertext ‖ tag over the padded session JSON (a multiple of 256
            bytes, at most 16 KiB). A deletion is sealed too: a tombstone whose json
            carries deletedAt, sent with deleted: true.
        keyVersion: {type: integer, minimum: 1}
        updatedAt: {type: string, format: date-time, description: "The client's clock, at most 5 minutes ahead of the server's; the newer write wins"}
        deleted: {type: boolean}
    PracticeLog:
      type: object
      required: [id, keyVersion, updatedAt]
      properties:
        id: {$ref: "#/components/schemas/UUID"}
        sealed: {type: string, format: byte}
        keyVersion: {type: integer}
        updatedAt: {type: string, format: date-time}
        deletedAt: {type: string, format: date-time}
    OldKeyError:
      type: object
      required: [error, currentKeyVersion]
      properties:
        error: {type: string}
        currentKeyVersion: {type: integer}
    SyncResponse:
      type: object
      required: [cursor, full, logs]
      properties:
        cursor: {type: string, description: "<generation>:<xid>; pass back as since"}
        full: {type: boolean}
        logs:
          type: array
          items: {$ref: "#/components/schemas/PracticeLog"}
    Gender:
      type: string
      enum: [male, female, nonbinary]
      description: Absent when not given.
    MeUpdate:
      type: object
      description: Absent fields stay as they are; null clears username or gender.
      properties:
        displayName: {type: string, maxLength: 64}
        username:
          type: string
          nullable: true
          minLength: 3
          maxLength: 32
          description: "3 to 32 of a-z, 0-9, dot and underscore; stored lowercased, unique regardless of case"
        gender:
          type: string
          nullable: true
          enum: [male, female, nonbinary]
    InviteInput:
      type: object
      required: [id, auth, expiresAt, payload, signature, mac]
      properties:
        id: {type: string, minLength: 8, maxLength: 8}
        auth: {type: string, format: byte, description: "HKDF(secret, invite-auth), 32 bytes"}
        expiresAt: {type: string, format: date-time}
        payload: {type: string, format: byte, description: The signed invite statement}
        signature: {type: string, format: byte}
        mac: {type: string, format: byte, description: "HMAC(pin, inviterIdentityPk), 32 bytes"}
    InviteRecord:
      type: object
      required: [id, payload, signature, mac, expiresAt]
      properties:
        id: {type: string}
        payload: {type: string, format: byte}
        signature: {type: string, format: byte}
        mac: {type: string, format: byte}
        expiresAt: {type: string, format: date-time}
    InviteSummary:
      type: object
      required: [id, expiresAt, createdAt]
      properties:
        id: {type: string}
        expiresAt: {type: string, format: date-time}
        revokedAt: {type: string, format: date-time}
        createdAt: {type: string, format: date-time}
    InviteList:
      type: object
      required: [invites]
      properties:
        invites:
          type: array
          items: {$ref: "#/components/schemas/InviteSummary"}
    Redemption:
      type: object
      required: [auth, acceptance]
      properties:
        auth: {type: string, format: byte}
        acceptance: {$ref: "#/components/schemas/SignedStatement"}
    RedemptionResult:
      type: object
      required: [inviterId]
      properties:
        inviterId: {$ref: "#/components/schemas/UUID"}
    Friend:
      type: object
      required: [userId, displayName, since, notifyDone]
      properties:
        userId: {$ref: "#/components/schemas/UUID"}
        displayName: {type: string}
        gender: {$ref: "#/components/schemas/Gender"}
        notifyDone: {type: boolean, description: This account hears when the friend practises}
        identityPublicKey: {type: string, format: byte}
        since: {type: string, format: date-time}
    FriendList:
      type: object
      required: [friends]
      properties:
        friends:
          type: array
          items: {$ref: "#/components/schemas/Friend"}
    BlockEntry:
      type: object
      required: [userId, createdAt]
      properties:
        userId: {$ref: "#/components/schemas/UUID"}
        createdAt: {type: string, format: date-time}
    BlockList:
      type: object
      required: [blocks]
      properties:
        blocks:
          type: array
          items: {$ref: "#/components/schemas/BlockEntry"}
    ReportInput:
      type: object
      required: [userId, reason]
      properties:
        userId: {$ref: "#/components/schemas/UUID"}
        reason: {type: string, maxLength: 1000}
    ReportResult:
      type: object
      required: [id]
      properties:
        id: {$ref: "#/components/schemas/UUID"}
    StreakStatement:
      type: object
      required: [userId, practice, payload, signature]
      properties:
        userId: {$ref: "#/components/schemas/UUID"}
        practice: {type: string}
        payload: {type: string, format: byte}
        signature: {type: string, format: byte}
    StreakList:
      type: object
      required: [streaks]
      properties:
        streaks:
          type: array
          items: {$ref: "#/components/schemas/StreakStatement"}
    InviteProof:
      type: object
      required: [id, auth]
      description: The invitation a sign-up presents.
      properties:
        id: {type: string, minLength: 8, maxLength: 8}
        auth: {type: string, format: byte}
    AdmissionCode:
      type: string
      maxLength: 64
      description: |
        A bootstrap admission code, 16 Crockford base32 characters, single use. Read
        leniently: case, spaces and hyphens are ignored, O is read as 0 and I and L as 1.
        The account it makes has no inviter.
    PasskeySignUp:
      type: object
      description: Exactly one of invite and admissionCode, and optionally the profile.
      properties:
        invite: {$ref: "#/components/schemas/InviteProof"}
        admissionCode: {$ref: "#/components/schemas/AdmissionCode"}
        username:
          type: string
          minLength: 3
          maxLength: 32
          description: "3 to 32 of a-z, 0-9, dot and underscore; stored lowercased, unique regardless of case"
        displayName: {type: string, maxLength: 64}
        gender: {$ref: "#/components/schemas/Gender"}
    Ceremony:
      type: object
      required: [sessionId, options]
      properties:
        sessionId: {$ref: "#/components/schemas/UUID"}
        options:
          type: object
          additionalProperties: true
          description: WebAuthn creation or request options, for the platform authenticator
    PasskeyResponse:
      type: object
      required: [credential]
      properties:
        credential:
          type: object
          additionalProperties: true
          description: The authenticator's PublicKeyCredential as WebAuthn JSON (base64url fields)
    SignInResult:
      type: object
      required: [token, userId, created]
      properties:
        token: {type: string, description: "Bearer token; send as Authorization: Bearer <token>"}
        userId: {$ref: "#/components/schemas/UUID"}
        created: {type: boolean, description: A new account was made with the invitation or admission code}
    ProviderSignIn:
      type: object
      required: [idToken, nonce]
      properties:
        idToken: {type: string, maxLength: 8192}
        nonce: {type: string, maxLength: 256, description: The raw nonce the app gave the provider}
        authorizationCode: {type: string, maxLength: 1024, description: "Apple only: kept to revoke the authorisation when the account is deleted"}
        invite: {$ref: "#/components/schemas/InviteProof"}
        admissionCode: {$ref: "#/components/schemas/AdmissionCode"}
    ProviderLink:
      type: object
      required: [idToken, nonce]
      properties:
        idToken: {type: string, maxLength: 8192}
        nonce: {type: string, maxLength: 256}
        authorizationCode: {type: string, maxLength: 1024}
    MagicLinkRequest:
      type: object
      required: [email]
      properties:
        email: {type: string, maxLength: 320}
        invite: {$ref: "#/components/schemas/InviteProof"}
        admissionCode: {$ref: "#/components/schemas/AdmissionCode"}
    MagicLinkRedemption:
      type: object
      description: Either token alone (from the link), or email and code (typed).
      properties:
        token: {type: string, maxLength: 128}
        email: {type: string, maxLength: 320}
        code:
          type: string
          maxLength: 32
          description: |
            The 8 Crockford base32 characters from the mail. Read leniently: case,
            spaces and hyphens are ignored, O is read as 0 and I and L as 1.
    PushTokenInput:
      type: object
      required: [platform, token]
      properties:
        platform: {type: string, enum: [apns, apns-sandbox, fcm]}
        token: {type: string, maxLength: 4096}
    FriendSettings:
      type: object
      required: [notifyDone]
      properties:
        notifyDone: {type: boolean}
    ClientErrorReport:
      type: object
      required: [kind, message]
      properties:
        kind: {type: string, enum: [crash, error]}
        message: {type: string, maxLength: 2048}
        appVersion: {type: string, maxLength: 64}
        osVersion: {type: string, maxLength: 64}
        context:
          type: object
          additionalProperties: {type: string, maxLength: 256}
          maxProperties: 20
    Nonce:
      type: object
      required: [nonce]
      properties:
        nonce: {type: string}
